header {
    background-color: red;
    text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    
}
#left-image {
    display: inline-block; 
    float: left;
    top: 0px;
    width: 300px;
    height: 300px;    
}

#right-image {
    display: inline-block; 
    float: right;
    top: 0px;
    width: 300px;
    height: 300px;    
}

h1 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
	font-size: 80px;
} 

ul, ol {
    display: inline-block;
}
  li {
    font-family: URW Chancery L, cursive;;
    padding: 5px 10px;
  background-color: white;
  border: 1px solid red;
}
  
h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

